#dark {
    ::v-deep {
        .el-table {
            background: #171c33 !important;
            box-sizing: border-box;
            width: 99.9% !important;

            .el-table__header-wrapper tr th {
                background-color: #0f1325 !important;
                color: rgb(255, 255, 255) !important;
            }

            .el-table__row {
                background-color: #171c33 !important;
                color: rgb(255, 255, 255) !important;
            }



            td,
            th.is-leaf {
                box-sizing: border-box;
                border-bottom: none !important;
            }

        }
        .el-table--striped .el-table__body tr.el-table__row--striped td{
            background: #0f1325 !important;
        }
        .el-table--enable-row-hover .el-table__body tr:hover>td{
            background: #001528 !important;
        }
    }
}